.p-0 {
    padding: 0;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 50px;
    height: 50px;
}

.carousel-item {
    background-color: #214b78;
}

.carousel-item img {
    opacity: 0.5;
}

.textcarousel {
    position: absolute;
    top: 10%;
    left: 20%;
    font-size: 1.3em;
    font-weight: 600;
    color: #a0c64c;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 17px;
    border-radius: .25rem;
    max-width: 515px;
}

@media screen and (max-width: 479px) {
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 20px;
        height: 20px;
    }
    .textcarousel {
        display: none;
    }
}